h1, h2, h3 {
   margin: 0px 0px 18px 0px;
   padding: 14px 0px 0px 0px;
   
}

p, ul {
   margin-left: 1em;
   margin-right: 1em;
}

img {
   margin: 12px 0px 12px auto;
   border: none;
   max-width: 100%;
   height: auto;
   width: auto; 
}

em {
   color: #af5f5f;
   font-style: italic; }

strong {
   color: #085272;
   font-weight: bold; }

ul {
   padding-left: 18px;
}

div#footer {
   margin: 60px 0px 36px 0px;
}

html {
   background-color: #fff;
   font-size: 16px;
   font-family: 'Lato', 'Proxima Nova', sans-serif;
   line-height: 1.3;
}

body {
   color: #333;
   margin: 0px 0px 18px 0px;
}

a, a:link, a:visited {
   color: #005580;
   
	 -webkit-transition: color .4s linear;
	 -moz-transition: color .4s linear;
	 -o-transition: color .4s linear;
	 -ms-transition: color .4s linear;
	 transition: color .4s linear;
   text-decoration: none;
   border-bottom: 1px solid #555;
}


a:hover {
   color: #004680;
   background: #d3e1ed;
}

a img {
   margin-bottom: 0px;
}

pre {
   font-size: 14px;
   margin-left: 18px;
   overflow: auto;
}

h1, h2, h3 {
   font-weight: bold;
   color:#333
}


h1 {
   font-size: 32px;
}

h2 {
   font-size: 22px;
}


h3 {
   font-size: 18px;
}

h1 a:link, h1 a:visited, h1 a:active {
   color: #333;
   background: none;
   border:none;
}

h2 a:link, h2 a:visited, h2 a:active {
   color: #333;
   background: none;
}
h3 a:link, h3 a:visited, h3 a:active {
   color: #333;
   background: none;
   border:none;
}


ul {
    list-style:square;
}

blockquote {
   border-left: 10px solid #d6e1f3;
   border-right: 10px solid #d6e1f3;
   margin-left: 1em;
   margin-right: 1em;
   padding-left: 0;
   
}

.soft, .caption {
   font-style: italic;
   color: #555;
}

.status {
   color: #555;
   background: #d6e1ed;
}

/* Add very modest drop shadows, partially inspired by
http://nicolasgallagher.com/css-drop-shadows-without-images/demo/
       Note the awful hack by which we implement
'alternating'/zebra-stripe coloring of quotes. */
blockquote, blockquote blockquote blockquote, blockquote
blockquote blockquote blockquote blockquote {
   z-index: -2;
   background-color: rgb(250, 250, 250);
}

blockquote blockquote, blockquote blockquote blockquote
blockquote, blockquote blockquote blockquote blockquote blockquote
blockquote {
   background-color:#F0F9FF;
}

q {
   background-color:rgba(50,50,255,.03);
}

/* Better footnotes */
sub, sup {
   line-height: 0.2em;
   margin-left: 0.2em;
   font-size:small;
}

/* code { */
/*    font-size:12px; */
/*    background-color: #d6e1ed; */
/*    display: inline-block; */
/*    /\* padding: 0.1em; *\/ */
/* } */

code{
   background-color:rgb(250,250,250);
   border:1px solid rgb(200,200,200);
   padding-left:4px;
   padding-right:4px;
}

pre code{
   display:block;
   padding:8px;
   margin-bottom:2em;
}


.tagline {
   padding:10px 10px;
   font-family: 'Lato', sans-serif;
   font-size:1.02em;
   text-align:left;
   color:#888
}

div.figure {
   text-align: center;
}

div.figure p {
   margin-top: 6px;
}

div.footnotes {
   border-top: 10px solid #d6e1ed;
   color: #555;
   
}

div.footnotes hr {
   display: none;
}

.align_right {
   float:right;
   text-align:right;
}

.align_left {
   text-align: left;
}

#footnotediv div{
   opacity:1;
   background-color:#fff;
   padding:0px 12px;  /*  top and bottom 2px padding  */
                      /*  left and right 12px padding  */
   max-width:600px;
   border:1px solid #d6e1ed;
}

div#footer {
   font-size: 12px;
   /* position:absolute */;
   /* height:30px;   /\* Height of the footer *\/ */
   /* bottom: 0%; */
}

/*************************************/

/* This gets Google to fall into place */
.share {
	 font-size: 1px;
   float: right;
}

/* This gets Facebook to fall into place */
.share iframe {
	 vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.share span {
	 display: inline-block;
	 width: 110px;
}

/* /\* Adjust the widths individually if you like *\/ */
/* .share .google { */
/* 	 width: 75px; */
/* } */

/* .btn, input[type="submit"], input[type="reset"], textarea[type="submit"], textarea[type="reset"], select[type="submit"], select[type="reset"], .share { */
/*    -moz-border-bottom-colors: none; */
/*    -moz-border-left-colors: none; */
/*    -moz-border-right-colors: none; */
/*    -moz-border-top-colors: none; */
/*    background-color: #EFF0F0; */
/*    background-image: linear-gradient(#FFFFFF, #E8EAE9); */
/*    border-color: #D0D2D5 #D0D2D5 #C6C9CC; */
/*    border-image: none; */
/*    border-style: solid; */
/*    border-width: 1px; */
/*    font-size: 12px; */
/*    font-weight: bold; */
/*    margin: 0 5px 0 0; */
/*    /\* padding: 8px 12px 6px; *\/ */
/*    text-transform: uppercase; */
/* } */

/* .box-shadow, .btn, input[type="submit"], input[type="reset"], textarea[type="submit"], textarea[type="reset"], select[type="submit"], select[type="reset"], .share { */
/*    box-shadow: 0 1px 0 #FFFFFF; */
/* } */

/*******************************************************************************
 * Disqus                                                                    
******************************************************************************/

/* Reset list image for disqus */
div#disqus_thread ul {
   list-style-image: none;
}

div#dsq-subscribe em {
   text-decoration: none;
}
