html {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Lato', 'Proxima Nova', sans-serif;
  line-height: 1.4;
}

body {
  color: #333;
  margin: 0px 0px 18px 0px;
}

a, a:link, a:visited {
  color: #4682B4;
  
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-o-transition: color .4s linear;
	-ms-transition: color .4s linear;
	transition: color .4s linear;
}

a:hover {
  color: #004680;
  border-bottom: 1px solid #555;
}

a img {
  margin-bottom: 0px;
}

blockquote {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  -moz-box-shadow: 1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 10px #ccc;
  box-shadow: 1px 1px 10px #ccc;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: "\201C"; /* # double quote */
  font-size: 4em;
  font-weight: bold;
  color: #999;
  
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
  /* left: 10px; */
  /* top:5px; */

}

blockquote p {
  display: inline;
}

h1, h2, h3 {
  font-weight: bold;
  color:#333
}


h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}


h3 {
  font-size: 1.17em;
}

h1 a:link, h1 a:visited, h1 a:active {
  color: #333;
  background: none;
  border:none;
}

h2 a:link, h2 a:visited, h2 a:active {
  color: #555;
  background: none;
}

h3 a:link, h3 a:visited, h3 a:active {
  color: #444;
  background: none;
  border:none;
}

ul {
  list-style:square;
}

img {
  margin: 12px 0px 12px auto;
  border: none;
  max-width: 100%;
  height: auto;
  width: auto; 
}

em {
  color: #af5f5f;
  font-style: italic; }

strong {
  color: #085272;
  font-weight:bolder;
}

.math em{
  color: #333;
  font-style: italic;
}

.math strong{
  color: #333;
  font-weight: bolder;
}

ul {
  padding-left: 18px;
}

article {
  position: relative;
}

article .entry-content {
  padding-bottom: 15px;
  line-height: 1.5;
}

article .entry-content .toc {
  float: right;
  width: 20%;
  background: none repeat scroll 0% 0% #eee;
  margin-left: 20px;
}

article .entry-content h1, h2 h3, h4 {
  overflow: hidden;
  position: static;
}

article .entry-content h1:hover .hash, article .entry-content h2:hover .hash, article .entry-content h3:hover .hash, article .entry-content h4:hover .hash, article .entry-content h5:hover .hash {
  color: #ccc;
  display: block;
} 

article .entry-content h1 .hash, article .entry-content h2 .hash, article .entry-content h3 .hash, article .entry-content h4 .hash, article .entry-content h5 .hash {
  color: #ddd;
  transition: color 0.3s;
  position: absolute;
  left: -20px;
  width: auto;
  display: none;
}

article .entry-content h1 a, article .entry-content h2 a, article .entry-content h3 a, article .entry-content h4 a, article .entry-content h5 a {
  display: inline-block;
  position: relative;
  width: 100%;
  color: inherit;
}

article .entry-content h1 a:hover, article .entry-content h2 a:hover, article .entry-content h3 a:hover, article .entry-content h4 a:hover, article .entry-content h5 a:hover {
  color: inherit;
  text-decoration: underline;
  border-bottom: none;
}


article .entry-content a, a:link, a:visited {
  color: #4682B4;
  
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-o-transition: color .4s linear;
	-ms-transition: color .4s linear;
	transition: color .4s linear;
  text-decoration: none;
}

article .entry-content a:hover {
  color: #004680;
  border-bottom: 1px solid #555;
}

article .entry-content hr {
  background-color: #efefef;
  border: 0;
  height: 1px;
  color: #cccccc;
  margin: 35px auto;
  width: 50%;
  clear: both;
}

article .entry-content .footnotes hr {
  padding: 0px;
  text-align: center;
  width: 100%;
  background-color: #EFEFEF;
  margin: 30px auto 20px;
  height: 1px;
}

article .entry-content .footnotes hr:after {
  content: "§";
  cursor: default;
  display: inline-block;
  position: relative;
  font-size: 2em;
  padding: 0px 0.25em;
  background: none repeat scroll 0% 0% #FFF;
  top: -0.7em;
}


article .meta {
  text-align: center;
  top: 75px;
  line-height: 2;
  font-size: 0.9em;
  color: #999;
  padding: 10px 0px;
  border-top: 1px solid #efefef;
  clear: both;
  position: static;
  width: auto;
}

article .meta .meta-component {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

article .meta a a:link {
  color: #999;
  transition: color 0.3s ease 0s;
  outline-width: 0;
  border-bottom: none;
}

article .meta a:hover {
  color: #555;
  border-bottom: 1px solid #555;
}

.archive > li {
  list-style-type: none;
}

.archive-item {
  border: medium none;
}


.archive-item .item-link h2:hover {
   text-decoration: underline;
}


.archive-item .item-link .item-excerpt {
  color: #aaa;
  transition: color 0.3s ease 0s;
  font-weight: 300;
  display: inline-block;
}



div#footer {
   margin: 60px 0px 36px 0px;
}


/* from Twitter's bootstrap package; adds grid-lines to table */
table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
    /* *border-collapse: collapse;
       IE7, collapse table to remove spacing */
  font-size: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
table td {
  vertical-align: top;
}
table th + th, table td + td {
  border-left: 1px solid #ddd;
}
table tr + tr td {
  border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

/* Add little icons to tables handled by tablesorter.js
   to advertise that they are sortable.
   http://tablesorter.com/docs/#Configuration */
th.header {
  background-image: url(../images/bg.gif);
  cursor: pointer;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 20px;
  border-right: 1px solid #dad9c7;
  margin-left: -1px;
}
th.headerSortUp {
  background-image: url(../images/small_asc.gif);
  background-color: #79BEDB;
}
th.headerSortDown {
  background-image: url(../images/small_desc.gif);
  background-color: #79BEDB;
}

/* zebra-stripe tables (CSS3); from Twitter's bootstrap package */
tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
tbody tr:hover td {
  background-color: #f5f5f5;
}


.soft, .caption {
   font-style: italic;
   color: #555;
}

.status {
   line-height: 2em;
   color: #555;
   background: #d6e1ed;
}

q {
   background-color:rgba(50,50,255,.03);
}

/* Better footnotes */
sub, sup {
   line-height: 0.2;
   margin-left: 0.2em;
   font-size: 0.75em;
}

pre {
  background: none repeat scroll 0 0 #f2f9ff;
  margin-left: 18px;
  overflow: auto;
  padding: 10px;
}


code{
  background-color: #eee; 
  padding: 1px 5px;
}

pre code{
  background: none;
  font-size: 0.85em;
   /* display:block; */
   /* padding:8px; */
   border: none;
}

div.figure {
   text-align: center;
}

div.figure p {
   margin-top: 6px;
}

div.footnotes {
  color: #555;
  font-size: 0.85em;
}

.align_right {
   float:right;
   text-align:right;
}

.align_left {
   text-align: left;
}

#footnotediv div{
  opacity:1;
  background-color:#fff;
  padding:0px 12px;
  max-width:600px;
  font-size: 0.9em;
  border:1px solid #d6e1ed;
}

div#footer {
   font-size: 0.75em;
}

/* Social Contact links */
ul.social {
  text-align: center;
}
ul.social li {
  background: none repeat scroll 0 0 #ddd;
  border-radius: 100% 100% 100% 100%;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin-bottom: 0.5em;
  overflow: hidden;
  transition-duration: 0.7s;
  width: 60px;
  font-size:20px;
  
}
ul.social li:hover {
  background: none repeat scroll 0 0 #d6e1ed;
}
ul.social li a {
  border-bottom: none;
  color: none;
}
ul.social li a:hover {
  background: none;
}

/*******************************************************************************
 * Disqus                                                                    
******************************************************************************/

#comment {
  padding: 10px 0px;
  border-top: 1px solid #efefef;
  clear: both;
}

/* Reset list image for disqus */
div#disqus_thread ul {
   list-style-image: none;
}

div#dsq-subscribe em {
   text-decoration: none;
}
