@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-home:before, .icon-envelop:before, .icon-tags:before, .icon-happy:before, .icon-smiley:before, .icon-tongue:before, .icon-sad:before, .icon-wink:before, .icon-grin:before, .icon-cool:before, .icon-angry:before, .icon-evil:before, .icon-shocked:before, .icon-confused:before, .icon-neutral:before, .icon-wondering:before, .icon-google-plus:before, .icon-twitter:before, .icon-facebook:before, .icon-feed:before, .icon-mobile:before, .icon-tv:before, .icon-books:before, .icon-phone:before, .icon-quill:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-envelop:before {
	content: "\e001";
}
.icon-tags:before {
	content: "\e002";
}
.icon-happy:before {
	content: "\e003";
}
.icon-smiley:before {
	content: "\e004";
}
.icon-tongue:before {
	content: "\e005";
}
.icon-sad:before {
	content: "\e006";
}
.icon-wink:before {
	content: "\e007";
}
.icon-grin:before {
	content: "\e008";
}
.icon-cool:before {
	content: "\e009";
}
.icon-angry:before {
	content: "\e00a";
}
.icon-evil:before {
	content: "\e00b";
}
.icon-shocked:before {
	content: "\e00c";
}
.icon-confused:before {
	content: "\e00d";
}
.icon-neutral:before {
	content: "\e00e";
}
.icon-wondering:before {
	content: "\e00f";
}
.icon-google-plus:before {
	content: "\e010";
}
.icon-twitter:before {
	content: "\e011";
}
.icon-facebook:before {
	content: "\e012";
}
.icon-feed:before {
	content: "\e013";
}
.icon-mobile:before {
	content: "\e014";
}
.icon-tv:before {
	content: "\e015";
}
.icon-books:before {
	content: "\e016";
}
.icon-phone:before {
	content: "\e017";
}
.icon-quill:before {
	content: "\e018";
}
