<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="_jHgqYq-rsboPyW-xiHZLzYB5_j_crrXYXsfELg9hlc" />
    <title>$title$</title>

    <!-- Stylesheets. -->
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Josefin+Slab:300,400' rel='stylesheet' type='text/css' />

      
    <!-- RSS. -->
    <link rel="alternate" type="application/rss+xml" title="Rejuvyesh's Whisperings into the Wire" href="/rss.xml" />

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    
    <!-- Metadata. -->
    <meta name="keywords" content="Jayesh Kumar Gupta, jkg, blog, personal, homepage, academics, research, resume, cv, rejuvyesh"/>
    $if(description)$
    <meta name="description" content="$description$"/>
    $endif$

    <!-- Math -->
    $if(math)$
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    $endif$
  </head>
  <body>
    <div id ="navigation">
      <h1></h1>
      <a href="/"><span class="icon-home" aria-hidden="true"></span></a>
      <a href="/aboutme">About</a>
      <a href="/publications">Publications</a>
      <a href="/acads">Academics</a>
      <a href="/research">Research</a>
      <a href="/projects">Projects</a>
      <a href="/book-reviews">Books</a>
      <a href="/clippings">Clippings</a>
      <a href="/recommendations">Memes</a>
      <a href="/cv">CV</a>
      <a href="/contact">Contact</a>
      &nbsp;
      <a href="/weblog"><span class="icon-quill" aria-hidden="true"></span> Weblog</a>
      <a href="/notes">Notes</a>
      &nbsp;&nbsp;
      
      <a href="http://iitk.ac.in/iil/mtba/">MTBA</a>
      <a href="http://home.iitk.ac.in/~jayeshkg/coffeehouse/">CoffeeHouse</a>
    </div>
    
    <div id="content">

      $body$

    
      <div id="footer">
      Site powered by
        <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
        The entire source code of this website is
        <a href="http://github.com/rejuvyesh/homepage">
          available at github</a>.
      </div>
    </div>

    
    <div id="navigation_right">
    </div>

    
    <!-- JavaScipt -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Footnotes -->
    <script type="text/javascript" src="/javascripts/footnotes-min.js"></script>

    <!-- Table -->
    <script type="text/javascript" src="/javascripts/tablesorter.js"></script>
    <script type="text/javascript" src="/javascripts/table.js"></script>

    <!-- Header Links -->
    <script type="text/javascript" src="/javascripts/content.js"></script>
    
    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35033901-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
