<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Jayesh Kumar Gupta :: $title$</title>

    <!-- Stylesheets. -->
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Josefin+Slab:300,400' rel='stylesheet' type='text/css'>
   
    <!-- RSS. -->
    <link rel="alternate" type="application/rss+xml" title="rejuvyesh spricht - a personal blog" href="/rss.xml" />

    <!-- Metadata. -->
    <meta name="keywords" content=""/>
    <meta name="description" content="Personal home page and blog of Jayesh Kumar Gupta."/>
  </head>
  <body>
    <div id ="navigation">
      <h1></h1>
      <a href="/">~/</a>
      <a href="/acads.html">Academics</a>
      <a href="/resume.html">Resume</a>
      <a href="/contact.html">Contact</a>
      <a href="/aboutme.html">About</a>
      <a href="/recommendations.html">Stuff</a>
      </br>
      <a href="/posts.html">Weblog</a>
    </div>
    
    <div id="content">
      $body$

      <!-- <div style="clear: both">Recent Posts</div> -->

      <div id="footer">
        Last updated: February, 2013 
      </br>
      Site powered by
        <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
        The entire source code of this website is
        <a href="http://github.com/rejuvyesh">
          available at github</a>.
      </div>
    </div>

    
    <div id="navigation_right">
    </div>

    

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35033901-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
